<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krbdairyfarms.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
   <application
        android:label="KRB Dairy Farms"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Firebase Cloud Messaging Default Channel for Background Pushes -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="main_channel" />

        <!-- Restore local reminders automatically after phone restarts -->
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.quickboot.POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <!-- Home Screen Widgets -->

        <!-- 1. Main Dashboard Widget (combined stats + buttons) -->
        <receiver android:name=".DairyWidgetProvider"
            android:exported="true"
            android:label="Dairy Dashboard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- 2. Milk Stats Widget -->
        <receiver android:name=".MilkWidgetProvider"
            android:exported="true"
            android:label="Today's Milk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_milk" />
        </receiver>

        <!-- 3. Cows Stats Widget -->
        <receiver android:name=".CowsWidgetProvider"
            android:exported="true"
            android:label="Herd Count">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_cows" />
        </receiver>

        <!-- 4. Profit Stats Widget -->
        <receiver android:name=".ProfitWidgetProvider"
            android:exported="true"
            android:label="Net Profit">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_profit" />
        </receiver>

        <!-- 5. Add Milk Action Widget -->
        <receiver android:name=".AddMilkWidgetProvider"
            android:exported="true"
            android:label="Quick Add Milk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_add_milk" />
        </receiver>

        <!-- 6. Add Expense Action Widget -->
        <receiver android:name=".AddExpenseWidgetProvider"
            android:exported="true"
            android:label="Quick Add Expense">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_add_expense" />
        </receiver>

        <!-- 7. Add Payment Action Widget -->
        <receiver android:name=".AddPaymentWidgetProvider"
            android:exported="true"
            android:label="Quick Add Payment">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_add_payment" />
        </receiver>
    </application>
</manifest>
